[Desktop Entry]
Name=ubuntu-messaging-adn
Comment=My project description
Exec=/usr/bin/qmlscene $@ /usr/share/ubuntu-messaging-adn/ubuntu-messaging-adn.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
